<div id="poll-container">
    <h1 class="text-4xl font-bold mb-10">
      Vote for the best programming language below: 
      <%= @poll_options.pluck(:name).to_sentence last_word_connector: ' ou ' %>?
    </h1>

    <div class="flex flex-col gap-4 w-100">
      <% @poll_options.each do |option| %>
        <%= button_to vote_url, 
          method: :post, 
          class: 'flex-grow flex options-center border border-gray-600 p-4 text-left', 
          form_class: 'flex w-100', 
          params: { poll_option_id: option.id } do %>
          <h2 class="text-2xl font-bold text-slate-800 flex-grow"><%= option.name %></h2>
          <%= image_tag option.photo, class: 'h-16 w-16 object-contain', alt: '' %>
        <% end %>
      <% end %>
    </div>
</div>